@model IEnumerable<string>

    <ul class="treeview-menu">
        <li>@Html.ActionLink("전체", "List", "Product")</li>
        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
           {
               controller = "Product",
               action = "List",
               group = link,
               page = 1
           })

            </li>
        }
    </ul>
