@model IEnumerable<WebApplication0106.Models.JobOrderListView>
@{
    ViewBag.Title = "작업장별 생산현황";
}

@foreach (var p in Model.JobOrders)
{
    @Html.Partial("JobOrderSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, group = Model.CurrentCategory }))
</div>