@model WebApplication0106.Models.JobOrderListView

@{
    ViewBag.Title = "작업지시 목록";
}
    <h2>작업지시 목록</h2>
@foreach (var p in Model.JobOrders)
{
    @Html.Partial("JobOrderSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>