<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Project" connectionString="Data Source=whyfi8888.ddns.net,11433;Initial Catalog=TEAM1;User ID=team1;Password=1234"/>
  </connectionStrings>
</configuration>  