<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Wc_Code" value ="RLCenter_001"/>
    <add key="Port_Num" value ="7011"/>
    <add key="Process_Name" value ="압연"/>
  </appSettings>
</configuration>